<%= form_for @article do |f| %>

  <%= render 'common/errors', resource: @article %>

  <p>
    <%=f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
