<div class="container">
  <div class="background-style">
    <div class="row">
      <div id = "msg", class="msg alert alert-danger col-md-offset-4 col-md-4">
        <p class="text-center"></p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h1 class="text-info">Cтоимость и сроки доставки</h1>
      </div>
    </div>
    <%= form_for @delivery, id: 'new_delivery', class: 'form-horizontal' do |f|   %>
    <%= render 'common/errors', resource: @delivery %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :category, 'Категория отправления' %>
        <%= f.collection_select :category_id, Category.all, :id, :description, { selected: params[:category_id]}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :from_location, 'Пункт отправления' %>
        <%= f.collection_select :from_location, @locations_all, :first, :last, { selected: params[:from_location]}, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :to_location, 'Пункт прибытия', for: "to_location" %>
        <%= f.collection_select :to_location, @locations_all, :first, :last, { selected: params[:to_location]}, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :weight, 'Вес' %>
        <%= f.number_field 'weight', step: 0.1, min: 0.1, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label 'price', 'Цена' %>
        <%= f.number_field 'price', readonly: true, class: 'form-control'%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label 'term_min', 'Минимальный срок доставки' %>
        <%= f.number_field 'term_min', readonly: true, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label 'term_max', 'Максимальный срок доставки' %>
        <%= f.number_field 'term_max', readonly: true, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :status, 'Статус' %>
        <%= f.text_field 'status', class: 'form-control' %>
      </div>
    </div>
    <div class="form-btn text-center">
      <nav>
         <div class="btn-group">
          <%= link_to 'Назад', deliveries_path, class: 'btn btn-primary', role: 'button', method: :get %>          
          <%= submit_tag "Рассчитать стоимость", class: 'btn btn-warning', id: 'calculate' %> 
          <%= submit_tag 'Создать', class: 'btn btn-success', role: 'button' %> 
        </div>
      </nav>
    <% end %>
</div>