<div class="background-style">  
  <div class="panel-group" id="accordion">  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-folder-o"></i> Сервис</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <% @categories.each do |category| %>
            <div id="<%= category.id %>"><strong><%= category.description %></strong></div>            
            <ul class="list-group" id="del_list<%= category.id%>">        
              <% category.deliveries.status_desc.each do |delivery| %>
                <li class="list-group-item <%= delivery.delivery_status ? 'list-group-item-warning' : 'list-group-item-danger'%>" id="<%=delivery.id%>">
                  <%= link_to "Доставка #{delivery.id}", delivery_path(delivery)%>
                  <% if signed_in? %>
                    <%= check_box_tag "status_#{delivery.id}", params[:delivery_status], delivery.delivery_status  %>
                  <% end %>            
                </li>            
              <%end%>                  
            </ul>
          <%end%>
          <div><i class="fa fa-plus-square-o"></i> <%= link_to 'cоздать доставку', new_delivery_path, method: :get %></div>          
        </div>    
      </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-folder-o"></i> Категории</a>
        </h4>
      </div> 
      <div id="collapseTwo" class="panel-collapse collapse in"> 
        <div class="panel-body">
          <%= form_tag deliveries_path, remote: true , :id => "categories_search" do %>
            <p>
              <%= text_field_tag :search, params[:search], placeholder: ' Поиск' %>
            </p>   
            <div>             
              <ul id="categories" class="list-group">              
                <%= render partial: 'categories/categories' %>             
                <li class="list-group-item"><%= link_to ' Все категории', categories_path %></li>
                <li class="list-group-item"><i class="fa fa-plus-square-o"></i><%= link_to ' cоздать категорию', new_category_path %></li>             
              </ul>
            </div> 
          <% end %>        
        </div>
      </div>    
    </div>
  </div>
</div>


      
 