<div class="container">
  <div>
    <p>Ответ с сервера <%= @result_msg %></p>
	<p>Stat: <%= @result_stat %></p>
	<p>Price: <%= @result_price %></p>
	<p>Term-min: <%= @result_term_min %></p>
	<p>Term-max: <%= @result_term_max %></p>	
  </div>
  <%= render 'form' %>  
</div>	

