<% @categories.each do |category| %>
  <li class="list-group-item"  id= "li_<%= category.id %>">
    <%= link_to "#{category.description}", "#{ signed_in? ? edit_category_path(category) : category_path(category) }", id: "del_cat#{category.id}" %>
    <% if signed_in? %>
      <%= link_to edit_category_path(category),  id: "edit_link#{category.id}", class:'edit_link' do %>
        <i class="fa fa-pencil"></i>
      <% end %>


      <%= link_to edit_category_path(category),  id: "check_link#{category.id}", class:'check_link' do %>
        <i class="fa fa-check"></i>
      <% end %> 


      <%= link_to deliveries_path,  id: "#{category.id}", class:'del_link' do %>
        <i class="fa fa-times"></i>
      <% end %>
    <% end %>
  </li>            
<%end%> 